* {
  font-family: Arimo, sans-serif;
  margin: 0;
  padding: 0; }
  @media (pointer: fine) {
    * {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; } }

body {
  color: #111111;
  background-color: #EEEEFF; }

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 10px;
  height: 50px;
  background-color: #111111;
  color: #EEEEFF;
  box-sizing: border-box; }
  .nav .menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    padding: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 150%;
    background-color: #999999; }

.nevershow {
  display: none; }

.puzzle-container {
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: calc(100vh - 50px);
  box-sizing: border-box; }
  .puzzle-container .puzzle {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer; }
    .puzzle-container .puzzle .puzzle-cell {
      padding: 0;
      border: 1px solid #111111; }
      .puzzle-container .puzzle .puzzle-cell.selecting {
        background-color: yellow; }
      .puzzle-container .puzzle .puzzle-cell.selected {
        background-color: orange; }
  @media (max-width: 133vh) {
    .puzzle-container {
      padding-top: 60px;
      position: static;
      margin: 0 auto; } }
  @media (max-width: 100vh) {
    .puzzle-container {
      padding-top: 10px;
      position: absolute;
      width: 100vw;
      height: 100vw; } }

.word-list-container {
  padding: 10px;
  position: absolute;
  top: 50px;
  left: calc(100vh - 50px); }
  .word-list-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: calc(100vmin - 100px); }
    .word-list-container ul li {
      list-style: none;
      cursor: pointer;
      padding: 0 10px; }
      .word-list-container ul li.found {
        text-decoration: line-through;
        color: #444444; }
  @media (max-width: 133vh) {
    .word-list-container {
      position: absolute;
      top: 100vh;
      left: 0; }
      .word-list-container ul {
        flex-direction: row; } }
  @media (max-width: 100vh) {
    .word-list-container {
      top: calc(100vw + 50px);
      left: 0; } }

.menu-container {
  position: fixed;
  height: calc(100vh - 50px);
  width: 100vw;
  z-index: 5;
  top: -100vh;
  background-color: #999999;
  align-items: center; }
  .menu-container .form-row {
    width: 100vw;
    height: calc((100vh - 50px) / 6);
    text-align: left;
    font-size: 6vmin; }
    .menu-container .form-row .menu-title {
      display: block;
      text-align: center;
      font-size: 150%;
      width: 100%; }
    .menu-container .form-row label {
      display: inline-block;
      padding: 20px;
      text-align: right;
      width: 50%; }
    .menu-container .form-row .menu-input {
      margin: 20px 20px 0 0;
      font-size: 5vmin;
      position: absolute;
      left: calc(50% + 40px); }
    .menu-container .form-row .submit-form {
      background-color: #444444;
      color: #EEEEFF;
      padding: 5px 25px;
      border-radius: 15px;
      left: 50%;
      transform: translate(-50%, -50%); }
    .menu-container .form-row .tip {
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 75%; }
    .menu-container .form-row .boolean {
      height: 5vmin;
      width: 12vmin;
      display: inline-block;
      position: relative; }
      .menu-container .form-row .boolean .boolean-off, .menu-container .form-row .boolean .boolean-on {
        border: 1px solid #444444;
        position: absolute;
        height: 100%;
        width: 50%; }
      .menu-container .form-row .boolean .boolean-on {
        background-color: green;
        border-radius: 50% 0 0 50%;
        left: 0; }
      .menu-container .form-row .boolean .boolean-off {
        background-color: red;
        border-radius: 0 50% 50% 0;
        right: 0; }
      .menu-container .form-row .boolean .switch {
        position: absolute;
        background-color: #EEEEFF;
        border: 2px solid #444444;
        border-radius: 5px;
        top: -5px;
        height: calc(100% + 10px);
        width: 60%;
        z-index: 6; }

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20; }
  .modal-container form {
    position: fixed;
    background-color: #999999;
    border-radius: 20px;
    border: 4px solid #111111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    padding: 30px;
    text-align: center;
    align-items: center;
    font-size: 175%;
    display: flex;
    align-content: center;
    flex-direction: column; }
    .modal-container form .modal-button {
      padding: 10px 30px;
      border-radius: 10px;
      margin: 30px auto 0 auto;
      background-color: #EEEEFF;
      font-size: 75%; }
