* {
  font-family: Arimo, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  text-align: center; }

body {
  font-size: 200%;
  color: #111111;
  background-color: #EEEEFF; }

.main {
  display: flex;
  flex-wrap: wrap; }
  .main .puzzle-place-holder {
    margin: 10px;
    flex: 0 0 50%;
    cursor: pointer; }
    .main .puzzle-place-holder table {
      margin: 0 auto;
      border-collapse: collapse;
      width: 100%; }
      .main .puzzle-place-holder table td {
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        min-width: 1.5em; }
    .main .puzzle-place-holder .selecting {
      background-color: yellow; }
    .main .puzzle-place-holder .selected {
      background-color: orange; }
  .main .word-list {
    margin: 40px;
    flex: 0 0 50%; }
    .main .word-list ul {
      text-align: left; }
      .main .word-list ul li {
        list-style: none;
        display: inline; }
        .main .word-list ul li:not(:last-child)::after {
          content: ', '; }
  .main .form {
    flex: 0 0 100%;
    display: flex; }
    .main .form * {
      display: block; }
  @media (orientation: portrait) and (max-width: 1080px) {
    .main .puzzle-place-holder {
      flex: 0 0 100%; }
    .main .word-list {
      flex: 0 0 100%; } }

.main .hide {
  display: none; }

.found {
  text-decoration: line-through; }
