$colorDarkest: #000;
$colorDark: #131384;
$colorMedDark: #1A1AAF;
$colorMedLight: #5959C9;
$colorLight: #8080FF;
$colorLightest: #FFF;
$colorSelecting: #FFED33;
$colorSelected: #4CFF4C;
$colorOff: #FA0600;
$colorOn: #00C218;

* {
  font-family: Arimo, sans-serif;
  margin: 0;
  padding: 0;
  @media (pointer: fine) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
body {
  color: $colorDarkest;
  background-color: $colorLightest;
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 10px;
  height: 50px;
  background-color: $colorDarkest;
  color: $colorLightest;
  box-sizing: border-box;
  .menu-button {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: url('../images/menu1.png');
    background-size: contain;
    border: none;
    &:hover {
      background: url('../images/menu2.png');
    }
    &:active {
      background: url('../images/menu3.png');
    }
  }
  @media (max-width: 100vh) {

  }
}
.nevershow {
  display: none;
}
.puzzle-container {
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: calc(100vh - 50px);
  box-sizing: border-box;
  .puzzle {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    background-color: #EEEEEE;
    .puzzle-cell {
      padding: 0;
      border: 1px solid $colorDark;
      &.selecting {
        background-color: $colorSelecting;
      }
      &.selected {
        background-color: $colorSelected;
      }
    }
  }
  @media(max-width: 133vh) {
    padding-top: 60px;
    position: static;
    margin: 0 auto;
  }
  @media(max-width: 100vh) {
    padding-top: 10px;
    position: absolute;
    width: 100vw;
    height: 100vw;
  }
}
.word-list-container {
  padding: 10px;
  position: absolute;
  top: 50px;
  left: calc(100vh - 50px);
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: calc(100vmin - 100px);
    li {
      list-style: none;
      cursor: pointer;
      padding: 0 10px;
      &.found {
        text-decoration: line-through;
        color: $colorSelected;
        font-style: italic;
      }
    }
  }
  @media(max-width: 133vh) {
    position: absolute;
    top: 100vh;
    left: 0;
    ul {
      flex-direction: row;
    }
  }
  @media (max-width: 100vh) {
    top: calc(100vw + 50px);
    left: 0;
  }
}
.menu-container {
  position: fixed;
  height: calc(100vh - 50px);
  width: 100vw;
  z-index: 5;
  top: -100vh;
  background-color: $colorLight;
  align-items: center;
  .form-row {
    width: 100vw;
    height: calc((100vh - 50px) / 5);
    text-align: left;
    font-size: 6vmin;
    .menu-title {
      display: block;
      text-align: center;
      font-size: 150%;
      width: 100%;
    }
    label {
      display: inline-block;
      padding: 20px;
      text-align: right;
      width: 50%;
    }
    .menu-input {
      margin: 20px 20px 0 0;
      font-size: 5vmin;
      position: absolute;
      left: calc(50% + 40px);
    }
    .submit-form {
      background-color: $colorMedDark;
      color: $colorLightest;
      padding: 5px 25px;
      border-radius: 15px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .boolean {
      height: 5vmin;
      width: 12vmin;
      display: inline-block;
      position: relative;
      .boolean-off, .boolean-on {
        border: 1px solid $colorMedDark;
        position: absolute;
        height: 100%;
        width: 50%;
      }
      .boolean-on {
        background-color: $colorOn;
        border-radius: 50% 0 0 50%;
        left: 0;
      }
      .boolean-off {
        background-color: $colorOff;
        border-radius: 0 50% 50% 0;
        right: 0;
      }
      .switch {
        position: absolute;
        background-color: $colorLightest;
        border: 2px solid $colorMedDark;
        border-radius: 5px;
        top: -5px;
        height: calc(100% + 10px);
        width: 60%;
        z-index: 6;
      }
    }
  }
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    padding: 30px;
    text-align: center;
    align-items: center;
    font-size: 175%;
    display: flex;
    align-content: center;
    flex-direction: column;
    border: 4px solid $colorDarkest;
    border-radius: 20px;
    background-color: $colorLight;
    .modal-button {
      padding: 10px 30px;
      border-radius: 10px;
      margin: 30px auto 0 auto;
      background-color: $colorMedDark;
      color: $colorLightest;
      font-size: 75%;
    }
    &.warning {
      background-color: $colorSelecting;
      .modal-button {
        background-color: $colorOff;
      }
    }
  }
  .word {
    font-weight: bolder;
    text-decoration: underline;
  }
  .definition {
    font-weight: lighter;
    color: $colorDark;
    font-style: italic;
  }
}
.tip-container {
  position: fixed;
  border: 2px solid $colorDarkest;
  color: $colorLight;
  background-color: $colorLightest;
  border-radius: 10px;
  padding: 10px 20px;
  bottom: -500px;
  right: 10px;
  max-width: 50%;
  z-index: 30;
}
svg {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  height: calc(100vmin - 60px);
  width: calc(100vmin - 60px);
  opacity: 0.5;
  @media (max-width: 100vh) {
    height: calc(100vmin - 10px);
    width: calc(100vmin - 10px);
  }
}
